/******** Custom Properties ********/
:root{
    --first-color: #58ACFA;
    --first-alpha-color: rgba(88, 172, 250, 0.75);
    --white-color: #E6E6E6; 
    --font: "Raleway", sans-serif;   
}

/******** Reset ********/
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}
/******** Components ********/


/******** Utilities ********/
.box-shadow-1{
    box-shadow:  0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

/******** Site Styles ********/