:root{
    --first-color:#494949;
    --first-alpha-color: rgba(73,73,73,50%);
    --second-color: #848484;
    --second-alpha-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --gray-light-color: #E6E6E6;
    --gray-dark-color: #666666;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
    --text-color: #222;
    --font: "Raleway", sans-serif;  
    --max-width: 1200px;
    --header-heigth: 4rem;
}
/******** Reset ********/
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a{
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover{
    opacity: 0.75;
}

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}